@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer components {
  .body {
    @apply bg-purple-900;
    @apply text-gray-50;
    padding-bottom: 300px;
  }

  .figure {
    color: transparent;
    position: absolute;
    /* bottom: -164px; */
    bottom: -12.8vw;
    right: 5vw;
    /* width: 392px; */
    width: 30vw;
  }

  #subtitle .line {
    width: 65px;
    height: 10px;
    border-radius: 20px;
    @apply bg-blueBaby-300;
    margin: auto;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
