.glitch {
  position: relative;
  display: inline-block;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

.glitch::before {
  animation: glitch-1 2s infinite linear alternate-reverse;
  color: #FF2E97; /* neon-pink */
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  z-index: -1;
}

.glitch::after {
  animation: glitch-2 3s infinite linear alternate-reverse;
  color: #00FFFF; /* neon-cyan */
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  z-index: -1;
}

@keyframes glitch-1 {
  0%, 100% {
    transform: translate(0);
  }
  20% {
    transform: translate(-3px, 3px);
  }
  40% {
    transform: translate(-3px, -3px);
  }
  60% {
    transform: translate(3px, 3px);
  }
  80% {
    transform: translate(3px, -3px);
  }
}

@keyframes glitch-2 {
  0%, 100% {
    transform: translate(0);
  }
  20% {
    transform: translate(3px, -3px);
  }
  40% {
    transform: translate(3px, 3px);
  }
  60% {
    transform: translate(-3px, -3px);
  }
  80% {
    transform: translate(-3px, 3px);
  }
}

/* Variação hover - mais intenso */
.glitch:hover::before,
.glitch:hover::after {
  animation-duration: 0.5s;
}

/* Variação para textos maiores */
@media (min-width: 960px) {
  .glitch::before {
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }

  .glitch::after {
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
}
