@keyframes bg-transition-go {
    from {
        background-position-x: 10%;
    }
    to {
        background-position-x: 100%;
    }
  }

  @keyframes bg-transition-back {
    from {
        background-position-x: 100%;
    }
    to {
        background-position-x: 10%;
    }
  }


.bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../../../public/noise.png) 9px;
    color: #FFF;
    animation: bg-transition-go 300ms infinite ;
    
}


.container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../../../public/noise.png) 10px rgba(243, 242, 249, 0.44);
    animation: bg-transition-back 400ms infinite ;
}

.set {
    mix-blend-mode: lighten;
}

.exit {
    font-size: 50px;
    color: #FFF;

    position: absolute;
    top: 44px;
    right: 11%;
}

.exit:hover {
    font-weight: bold;
}