.btn {
    display: inline-block;
    border: 1px 1px 0 solid #FFF;
    border-radius: 5px 5px 1px 0px;
    background-color: #110427;
    border-width: 2px 2px 0;
    padding: 9px 22px;
    width: 135px;
}

.off {
    z-index: 1;
    position: absolute;
    transform: translate3d(95%, 5px, 0);
    background-color: #160634;
}

.on {
    z-index: 3;
    position: absolute;
}

.folder {
    z-index: 2;
    position: absolute;
    top: 86px;
    border: solid #FFF;
    border-radius: 0px 5px 5px 5px;
    background-color: #110427;
    border-width: 2px 2px;
    padding: 9px 20px;
    min-height: 300px;
    
}